body{
    background-image: linear-gradient(to right top, #0057ff, #0093ff, #00beff, #00e1f7, #00ffd5);
    color: #ffffff;
}
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Crimson Text', serif;
        }

@media only screen and (max-width: 1050px){
    
    #basic-heading{
        margin-left: 0.5em;
    }
    #bonus-heading{
        margin-left: 0.5em;
    }
    #premium-heading{
        margin-left: 1.5em;
        margin-top: 1em;
    }
    }
a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}
a:hover{
    font-size: 1.7rem;
    font-weight: bold;
}


/*header*/
header {
    background-color: #99BBFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
                rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, 
                rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    color: white;
}
#header-img {
    width: 15em;
}
nav#nav-bar{
    display: flex;
    width: 20em;
    justify-content: space-evenly;  
    color: white;
}
body {
font-family: 'Work Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Crimson Text', serif;
}
/*header*/

/*heading and form*/
h1{
    text-align: center;
    display:flex;
    justify-content: center;
}
.heading h1{
    margin: 1em;
    position:static;
    padding-top: 5em;
}
form{
    display: flex;
    flex-direction: column;
    align-items:center;
    
}
label{
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
}
input{
    width: fit-content;
}
input#email{
    font-size: 1.3rem;
    margin-top: 1em;
}
input#submit{
    margin-top: 1em;
    transform: scale(1.3);
}

#image{
    float: right;
}
#image img{
    width: 15em;
    height: 13em;

}
/*heading and form*/

/*features*/
#shipping{
    display: flex;
    justify-content: left;
}
#assurance{
    display: flex;
    justify-content: left;
}
#replacment{
    display: flex;
    justify-content: left;
    margin-left: 1em;
}
#replacment p{
    width: 25em;
}
#shipping img{
    width: 6em;
}
#assurance img{
    width: 6em;
    height:6em
}
#replacment img{
    width: 6em;
    height: 5em;
    margin-top: 1.5em;
}
/*description*/
div#description{
    font-size: 1.8em;
    border: solid black 2px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, 
    rgba(0, 0, 0, 0.09) 0px 16px 8px, 
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.text{
    display: flex;
    flex-direction: column;
    margin-left: 1em; ;
}
/*description*/

/*pricing*/
#pricing {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    #pricing{
        display: flex;
        flex-direction: column;
    }

    @keyframes pricing{
        50%{
            transform: scale(1.1);
        }
    }

    #basic { grid-area: 2 / 1 / 4 / 4; }
    #basic-heading { grid-area: 1 / 2 / 2 / 3; }
    #bonus { grid-area: 2 / 4 / 4 / 7; }
    #bonus-heading { grid-area: 1 / 5 / 2 / 6; }
    #premium { grid-area: 2 / 7 / 4 / 10; }
    #premium-heading { grid-area: 1 / 8 / 2 / 9; }

    

#pricing{
    display: flex;
    flex-direction: row;
  justify-content: space-evenly;
}
            /*basic pricing*/
#basic{
    border: solid 2px;
    width: 10em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-right: 1em;
    background-image: linear-gradient(to right top, #002266, #002f8a, #003cb0, #0049d7, #0057ff);

}
#basic-heading{
    border: solid 2px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2.6em;
    margin-top: 5em;
    border-bottom: none;
    background-image: linear-gradient(to right top, #002266, #2e458b, #516ab1, #7492d8, #99bbff);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.basic:hover{
        animation-name: pricing;
        animation-duration: 2s;
    }
        /*basic pricing*/

        /*bonus pricing*/
#bonus{
    border: solid 2px;
    width: 10em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-right: 1em;
    margin-left: 2%;
    text-align: center;
    background-image: linear-gradient(to right top, #002266, #002f8a, #003cb0, #0049d7, #0057ff);
}
#bonus-heading{
    border: solid 2px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2.6em;
    margin-top: 5em;
    border-bottom: none;
    margin-left: 0.4em;
    background-image: linear-gradient(to right top, #002266, #2e458b, #516ab1, #7492d8, #99bbff);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.bonus:hover{
        animation-name: pricing;
        animation-duration: 2s;
    }

        /*bonus pricing*/

        /*premium pricing*/
#premium{
    border: solid 2px;
    width: 10em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: 1%;
    text-align: center;
    background-image: linear-gradient(to right top, #002266, #002f8a, #003cb0, #0049d7, #0057ff);
}
#premium-heading{
    border: solid 2px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    height: 2.6em;
    margin-top: 5em;
    border-bottom: none;
    margin-left: 0.2em;
    background-image: linear-gradient(to right top, #002266, #2e458b, #516ab1, #7492d8, #99bbff);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

    .premium:hover{
        animation-name: pricing;
        animation-duration: 2s;
    }
        /*premium pricing*/
    /*pricing*/